JWT_SECRET=change_me_to_a_long_random_secret
DATABASE_HOST=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=rails_demo_development
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true
